html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 0;
}

.navbar-brand > h1 {
    font-size: 1.7rem;
    margin-left: 15%;
    font-family: "Ysabeau SC", sans-serif;
}

.navbar-brand > h1 > a {
    color: black;
    text-decoration: none;
}

.navbar-collapse {
    margin-right: 1%;
    font-size: 14px;
}

.btn-primary {
    background-color: #1b90fb;
    border: 0;
}

.btn-primary > a {
    color: white;
    text-decoration: none;
}

.btn-danger > a {
    text-decoration: none;
}

.btn-link {
    color: #1b90fb;
    text-decoration: none;
}

#intro-page {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1468487422149-5edc5034604f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
    background-position: center;
    background-size: 100%;
    filter: brightness(100%) opacity(0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#welcome {
    position: absolute;
    color: black;
    text-align: center;
    padding: 0 10% 0 10%;
    top: 41%;
    right: 0;
    left: 0;
    bottom: 0;
}

#welcome > h1 {
    font-family: "Ysabeau SC", sans-serif;
    font-size: 65px;
    margin-bottom: 3.5%;
}

#welcome > h3 {
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

#welcome > a {
    text-shadow: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.categories {
    padding-top: 15px;
}

.category-name {
    text-decoration: none;
    color: #1b90fb;
}

.card-title > a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #f8f9fa;
}

.nav-link:hover {
    color: #1b90fb;
}

#tags-list {
    text-align: center;
    background-color: #f8f9fa;
}

#tag-note-list {
    margin-top: 1.2%;
}

.tags-lists {
    margin-bottom: 0;
    font-size: 16px;
}

.flash-messages {
    text-align: center;
    color: #000000;
}

.success {
    background-color: #4caf4f80;
}

.error {
    background-color: #f4433683;
}

.warning {
    background-color: #ff99005e;
}

.delete-note-btn {
    background-color: white;
    color: black;
}

.delete-note {
    color: red;
    text-decoration: none;
}

.select-comment {
    margin-top: 75px;
}

footer > p {
    margin: 10px 0 20px 0;
    font-size: small;
}

footer > p > a {
    text-decoration: none;
    color: #1b90fb;
}

.footer-author {
    color: #1b90fb;
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 5s steps(31, end) infinite;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    50% {
        width: 215px;
    }
    100% {
        width: 0%;
    }
}

@media (max-width: 991.98px) {
    #welcome > h1 {
        font-size: xx-large;
    }

    #welcome > h3 {
        font-size: large;
    }

    #welcome > a {
        font-size: 14px;
        width: auto;
    }

    .navbar-brand > h1 {
        font-size: 21px;
    }

    .navbar-collapse {
        margin-right: 0;
    }

    .flex-container {
        flex-direction: column;
    }

    .categories {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .notes {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 1396px) {
    .notes {
        max-width: 1162.5px;
        margin-left: 6%;
    }
}
