body {
    font-family: Helvetica, sans-serif, Arial;
}

ul {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
    color: rgb(59, 139, 237);
}

button:hover {
    outline: rgb(59, 139, 237) 5px auto;
}

a {
    text-decoration: none;
    color: rgb(59, 139, 237);
}

#index-navbar {
    display: flex;
    text-align: center;
    align-items: center;
}

#categories-ul {
    margin-left: -2.3em;
}
