<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Jayskine | {% block title %}{% endblock %}</title>
        <script
            crossorigin
            src="https://unpkg.com/react@16/umd/react.development.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
        ></script>
        <script
            crossorigin
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
        ></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% for msg in get_flashed_messages() %} {{msg}} {% endfor %}
        <h1 id="title"><a href="/">Jayskine</a></h1>
        {% if "user" in session %}
        <div id="navbar">
            <h2 id="user_welcome">Welcome!! {{session.user.username}}</h2>
            <button>
                <a href="/users/{{session.user.email}}">User Settings</a>
            </button>
            <button>
                <a href="/create_note">Add a new Note</a>
            </button>
            <button><a href="/logout">Log Out</a></button>
        </div>
        <div id="tags_React"></div>
        <script src="/static/js/TagPage.jsx" type="text/jsx"></script>
        <script src="/static/js/Tags.jsx" type="text/jsx"></script>
        {% endif %} {% block body %}{% endblock %} {% block after_body %}{%
        endblock %}
    </body>
</html>
