{% extends 'base.html' %} {% block title %}Create a Note{% endblock %} {% block
head %} {{ mde.css }} {% endblock %} {% block body %}

<form action="/add_note" method="POST">
    <div class="container-fluid mt-3">
        <div class="m-md-5">
            <h2>Create a new note</h2>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p>Viewer</p>
                    <hr />
                    <div>{{ mde.preview }}</div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input
                            type="text"
                            name="note_title"
                            class="form-control"
                            style="margin-bottom: 10px"
                            placeholder="Title"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <select
                            name="note_category_id"
                            class="form-select"
                            style="margin-bottom: 10px"
                            required
                        >
                            <option value="" disabled selected>
                                Select this note's category
                            </option>
                            {% for category in categories %}
                            <option value="{{ category.category_id }}">
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <input
                            type="text"
                            name="tags"
                            class="form-control"
                            placeholder="Tags"
                        />
                    </div>
                    {{ form.csrf_token }} {{ form.editor(class="form-control")
                    }} {{ form.submit(class="btn btn-primary mt-3") }}
                </div>
            </div>
        </div>
    </div>
</form>
{{ mde.js }} {% endblock %}
