{% extends 'base.html' %} {% block title %} {{note.title}} {% endblock %} {%
block head %} {{mde.css}} {% endblock %} {% block body %}
<div id="note">
    <h2>{{note.title}}</h2>
    <p>posted by: {{note.entry_date}}</p>
    <p>Category: {{note.category.name}}</p>
    <p>
        {% for tag in note.tags.split() %}<a href="#" class="label">#{{tag}}</a>
        &nbsp;{% endfor %}
    </p>
</div>
<div class="make-pretty">{{content|safe}}</div>
<button id="edit-btn">Edit</button>
<div id="edit_note" hidden>
    <h3>Edit {{note.title}}</h3>
    <form action="/edit_note" method="POST">
        <input type="hidden" value="{{note.note_id}}" name="note_id" />
        <label>Title: </label
        ><input type="text" name="note_title" value="{{note.title}}" /><br />
        <label>Text: </label>{{form.csrf_token }}
        {{mde.editor(name="body_content", default=note.body_content)}}
        <br />
        <label>Tags: </label>
        <input type="text" name="tags" value="{{note.tags}}" />
        <br />
        <label>Category: </label>
        <select name="note_category">
            {% for category in categories %} {% if category.user.email ==
            session.user.email %}
            <option value="{{category.category_id}}">{{category.name}}</option>
            {% endif %} {% endfor %}
        </select>
        <input type="submit" />
    </form>
    {{mde.preview}}
</div>
<div id="delete_note">
    <h3>Delete Note</h3>
    <button>
        <a href="/delete_note/{{note.note_id}}">Delete {{note.title}}</a>
    </button>
</div>
<script src="/static/js/editNote.js"></script>
{{mde.js}} {% endblock %}
