{% extends 'base.html' %} {% block title %} {{category.name}} {% endblock %} {%
block body %}
<h2>{{category.name}} Notes</h3>
    <ul>
{% for note in category.notes %}
{% if note.user.email == session.user.email %}
<li><a href="/notes/{{note.note_id}}">{{note.title}}</a></li>
{% endif %}
{% endfor %}
</ul>
<h3>Edit Category Name</h3>
<form action="/edit_category" method="POST">
    <input type="hidden" value="{{category.category_id}}" name="category_id">
    <label>Category Name: </label><input type="text" name="edit_category_name" value="{{category.name}}">
    <input type="submit">
</form>
{% endblock %}


<!-- category 기존 정보 변경 기능 추가하기 -->