{% extends 'base.html' %} {% block title %} {{note.title}} {% endblock %} {%
block body %}
<div id="note">
    <h2>{{note.title}}</h2>
    <p>{{note.body_content}}</p>
    <p>
        posted by: {{note.entry_date}}, Category -
        <a href="/categories/{{note.category_id}}">{{note.category.name}}</a>
    </p>
    <p>
        {% for tag in note.tags.split() %}<a class="label">#{{tag}}</a> &nbsp;{%
        endfor %}
    </p>
</div>
<div id="edit_note">
    <h3>Edit {{note.title}}</h3>
    <form action="/edit_note" method="POST">
        <input type="hidden" value="{{note.note_id}}" name="note_id" />
        <label>Title: </label
        ><input type="text" name="note_title" value="{{note.title}}" /><br />
        <label>Text: </label
        ><input
            type="text"
            name="body_content"
            value="{{note.body_content}}"
        /><br />
        <label>Tags: </label>
        <input type="text" name="tags" value="{{note.tags}}" />
        <br />
        <label>Category: </label>
        <select name="note_category">
            {% for category in categories %} {% if category.user.email ==
            session.user.email %}
            <option value="{{category.category_id}}">{{category.name}}</option>
            {% endif %} {% endfor %}
        </select>
        <input type="submit" />
    </form>
</div>
<div id="delete_note">
    <h3>Delete Note</h3>
    <button>
        <a href="/delete_note/{{note.note_id}}">Delete {{note.title}}</a>
    </button>
</div>
{% endblock %}
