{% extends 'base.html' %} {% block title %} Settings {% endblock %} {% block
body %}
<div id="detail-user-container" class="container">
    <h2>User's Settings</h2>
    <br />
    <div id="user_setting">
        <h4>Your email is '{{user.email}}'</h4>
        <form action="/edit_user" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label"
                    >Change your username:</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    value="{{user.username}}"
                />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"
                    >Change your password:</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <div id="delete_user" class="mt-3">
        <button id="delete-user-btn" class="btn">
            <a
                id="user-delete-link"
                href="/delete_user/{{user.user_id}}"
                class="text-white"
                >Delete '{{user.email}}' Account</a
            >
        </button>
    </div>
</div>
{% endblock %}
