{% extends 'base.html' %} {% block title %} Home {% endblock %}{% block body %}
{% if "user" not in session %}

<div id="welcome">Welcome to Jayskine Notebook!</div>

{% else %}
<div id="main"></div>
<script src="/static/js/NewCategoryForm.jsx" type="text/jsx"></script>
<script src="/static/js/CategoryList.jsx" type="text/jsx"></script>
<script src="/static/js/AllNotes.jsx" type="text/jsx"></script>
<script src="/static/js/CategoryContent.jsx" type="text/jsx"></script>
<script src="/static/js/Categories.jsx" type="text/jsx"></script>
<script src="/static/js/index.jsx" type="text/jsx"></script>
{% endif %} {% endblock %}
