{% extends 'base.html' %} {% block title %} Home {% endblock %}{% block head %}
<style>
    #container {
        margin: 0;
    }
</style>
{% endblock %}{% block body %} {% if "user" not in session %}
<div id="intro-page"></div>
<div id="welcome">
    <h1>Jayskine</h1>
    <h3>
        Unlock the Power of Note-Taking: Organize, Simplify, and Access Your
        Notes Anytime, Anywhere!
    </h3>
    <h3><a href="/signup_page" class="btn">Try it NOW!!</a></h3>
</div>
{% else %}
<div id="main"></div>
<script src="/static/js/NewCategoryForm.jsx" type="text/jsx"></script>
<script src="/static/js/CategoryList.jsx" type="text/jsx"></script>
<script src="/static/js/AllNotes.jsx" type="text/jsx"></script>
<script src="/static/js/CategoryContent.jsx" type="text/jsx"></script>
<script src="/static/js/Categories.jsx" type="text/jsx"></script>
<script src="/static/js/index.jsx" type="text/jsx"></script>
{% endif %} {% endblock %}
