{% extends 'base.html' %} {% block title %} Index {% endblock %} {% block body
%}
<h2>Index Page</h2>
{% if "user" in session %}
<div id="root"></div>
{% else %}
<div id="login">
    <h3>Log In</h3>
    <form action="/login" method="POST">
        <label>email: </label><input type="text" name="user_email" required />
        <label>Password: </label
        ><input type="password" name="user_password" required />
        <input type="submit" />
    </form>
</div>
<div id="signup">
    <h3>Sign Up</h3>
    <form action="/add_user" method="POST">
        <p>Email: <input type="text" name="email" required /></p>
        <p>Password: <input type="password" name="password" required /></p>
        <p>Username: <input type="text" name="username" required /></p>
        <p>
            <input type="submit" />
        </p>
    </form>
</div>
{% endif %}
<script type="text/jsx" src="/static/index.jsx"></script>
{% endblock %}
